<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdd">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IAdd2">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ISubtract">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IAdd1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/Services/Tests1"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdd"
                contract="ServiceReference1.IAdd" name="NetTcpBinding_IAdd" />
            <endpoint address="net.tcp://localhost:8081/Services/Tests2"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdd2"
                contract="ServiceReference2.IAdd2" name="NetTcpBinding_IAdd2" />
            <endpoint address="net.tcp://localhost:8085/Services/Tests2"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubtract"
                contract="ServiceReference1.ISubtract" name="NetTcpBinding_ISubtract" />
            <endpoint address="net.tcp://localhost:8085/Services/Tests1"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdd1"
                contract="ServiceReference2.IAdd" name="NetTcpBinding_IAdd1" />
        </client>
    </system.serviceModel>
</configuration>